fr-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_lg-3.1.0/fr_core_news_lg-3.1.0-py3-none-any.whl
spacy==3.1.3
spacy-legacy==3.0.8
geonamescache==1.2.0
geotext==0.4.0
Flask==2.0.1
gunicorn==20.1.0